* {
    background-color: yellow;
    color: black;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

.scores {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 15%;
    font-size: 2rem;
    border: 2px solid black;
    text-align: center;
    margin-top: 2rem;
}

h3 {
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 0;
}

.scores_div {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 5rem;
    flex-wrap: wrap;

}

#score-para {
    text-align: center;
    font-size: 2rem;
    
}
#player-score {
    text-align: center;
}
#computer-score {
    text-align: center;
}
.buttons {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   padding: 2rem;
   gap: 3rem;
}

.select {
    border-radius: 5px;
    padding: 1rem;
    border: 2px solid white;
    background-color: darkgrey;
}
.select:hover {
    background-color: aqua;
    cursor: pointer;
}
.bottom-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#reset {
    margin: 0 auto;
    width: 20%;
    background-color: darkgrey;
}
#reset:hover {
    background-color: aqua;
    cursor: pointer;
}